<launch>
    
  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick" output="screen" respawn="false" >
    <param name="world_frame" value="enu" />
    <param name="fixed_frame" value="odom" />
    <param name="use_mag" value="false" />
    <param name="publish_tf" value="false" /> 
  </node>


  
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    
      <param name="frequency" value="10"/>
      <param name="sensor_timeout" value="0.5"/>
      <param name="two_d_mode" value="true"/>

      <param name="imu0" value="/imu/data"/>  

      <param name="pose0" value="/odom/encPose"/>
      <param name="pose0_differential" value="true" />
	  
      <param name="map_frame" value="map"/>
      <param name="odom_frame" value="odom"/>
      <param name="base_link_frame" value="base_link"/>
      <param name="world_frame" value="odom"/>

	<rosparam param="pose0_config">[true, true, false, 
                                    false, false, true, 
                                    false, false, false, 
                                    false, false, false,
                                    false, false, false]</rosparam>
    
        
	<rosparam param="imu0_config">[false, false, false, 
                                   false, false, false, 
                                   false, false, false, 
                                   false, false, true,
                                   false, false, false]</rosparam>

      <param name="print_diagnostics" value="true"/>


  </node>


    
 <!-- convert joint states to TF transforms for rviz, etc -->
        <param name="robot_description" command="$(find xacro)/xacro.py '$(find rosie_description)/urdf/rosie.xacro'" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/rosie/joint_states" />
  </node>
  
    
</launch>
