<?xml version="1.0"?>
<launch>
  <master auto="start"/>

<param name="/use_sim_time" value="false"/>
  <!--- Run gmapping -->
  <node pkg="gmapping" name="slam_gmapping" type="slam_gmapping" output="screen">
    <param name="delta" value="0.05"/>
    <param name="xmin" value="-10"/>
    <param name="xmax" value="10"/>
    <param name="ymin" value="-10"/>
    <param name="ymax" value="10"/>
    <param name="minimumScore" value="25" />
    <remap from="scan" to="/scan"/>
    <param name="maxRange" value="1.005" />
    <param name="maxUrange" value="1.00" />
    <param name="base_frame" value="base_link" />
    <param name="odom_frame" value="odom" />

    <param name="linearUpdate" value="0.2"/>
    <param name="angularUpdate" value="1.0"/>
    <param name="temporalUpdate" value="1.5"/>
    <param name="resampleThreshold" value="0.5"/>
    <param name="particles" value="80"/>

  </node>
  
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find rosie_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find rosie_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find rosie_navigation)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find rosie_navigation)/config/global_costmap_params.yaml" command="load" />
	<rosparam file="$(find rosie_navigation)/config/base_local_planner_params.yaml" command="load" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" />
    
	<!--rosparam file="$(find rosie_navigation)/config/dwa_local_planner_params.yaml" command="load" />
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" /-->
  
    <param name="controller_frequency" value="2" />
    <param name="planner_frequency" value="1.0" />
  
    <remap from="odom" to="/odometry/filtered"/>
  </node>

</launch>


