<?xml version="1.0"?>
<launch>
  <master auto="start"/>

<param name="/use_sim_time" value="true"/>
  <!--- Run gmapping -->
  <node pkg="gmapping" name="slam_gmapping" type="slam_gmapping" output="screen">
    <param name="delta" value="0.05"/>
    <param name="xmin" value="-20"/>
    <param name="xmax" value="20"/>
    <param name="ymin" value="-20"/>
    <param name="ymax" value="20"/>
    <param name="minimumScore" value="5" />
    <remap from="scan" to="/sweeper/scann"/>
    <param name="maxRange" value="2.0" />
    <param name="maxUrange" value="1.0" />
    <param name="base_frame" value="base_link" />

    <param name="linearUpdate" value="0.2"/>
    <param name="angularUpdate" value="0.3"/>
    <param name="temporalUpdate" value="2"/>
    <param name="resampleThreshold" value="0.5"/>
    <param name="particles" value="50"/>

  </node>

  <!-- Move base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find rosie_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find rosie_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find rosie_navigation)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find rosie_navigation)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find rosie_navigation)/config/base_local_planner_params.yaml" command="load" />
  
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <param name="controller_frequency" value="5" />
    <param name="planner_frequency" value="0.25" />
  
    <remap from="cmd_vel" to="cmd_vel"/>
    <remap from="odom" to="odom"/>
    <remap from="scan" to="/sweeper/scan"/>

	  
  </node>
    
 <!-- convert joint states to TF transforms for rviz, etc -->
        <param name="robot_description" command="$(find xacro)/xacro.py '$(find rosie_description)/urdf/rosie.xacro'" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/rosie/joint_states" />
  </node>
    
</launch>


